.header{
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: center;
    padding: 1rem;
    border-bottom: 2px solid var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: var(--text-primary);
    background-color: var(--bg);
}

.header-title{
    color: var(--text-primary);
}