.header{
    align-items: center;
    display: flex;
    height: 70px;
    justify-content: center;
    padding: 1rem;
    border-bottom: 2px solid var(--border);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: var(--text-primary);
    background-color: var(--bg);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.header-title{
    color: var(--text-primary);
}

.theme-toggle {
    position: fixed;
    top: 1rem;
    right: 1rem;
    background: none;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    font: inherit;
    padding: 0;
    width: 5rem;
    height: 2rem;
    z-index: 23;
}


.logout {
    position: fixed;
    top: 1rem;
    right: 5rem;
    background: none;
    border: none;
    color: var(--text-primary);
    cursor: pointer;
    font: inherit;
    padding: 0;
    width: 5rem;
    height: 2rem;
    z-index: 23;
}